.productDisplay{
    display: flex;
    flex-direction: column;
    margin: 10px 200px 5px 400px;
    width: 400px;
    padding: 10px;
    border-radius: 20px;
    background: #242f49;
    color: #fff;
    align-items: center;
}
.productDisplay-left{
    display: flex;
    gap: 17px;
}
.productDisplay-img-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.productDisplay-img-list img{
    width: 80px;

}
.productDisplay--main{
    width: 100px;
    border-radius: 10px;
}
.productDisplay-right{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.productDisplay-right h1{
    color: #ffffff;
    font-size: 25px;
    font-weight: 500;
}
.productDisplay-right-prices{
    display: flex;
    margin: 25px 0;
    gap: 10px;
    font-size: 15px;
    font-weight: 500;
}

.productDisplay-right-price-new{
    color: #ffffff;
}
.productDisplay-right-price-old{
    color: #ffffff;
}
.productDisplay-right button{
    padding: 10px 20px;
    width: 160px;
    font-size: 16px;
    border-radius: 15px;
    font-weight: 600;
    color: white;
    background: #ff9100;
    box-shadow: 1px 2px 7px #c7c7c7;
    margin: 27px 0;
    border: none;
    outline: none;
    cursor: pointer;

}